body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('https://cdn.pixabay.com/photo/2021/11/19/15/21/christmas-6809681_1280.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header {
    background: #082033;
    color: #ffffff;
    padding: 1rem 0;
    font-family: 'Lucida Handwriting', 'cursive';
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 20px rgb(31, 100, 146);
}

nav ul {
    background: #303030;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.56);
}

nav ul li a:hover {
    background: #e12c22a5;
}

section {
    padding: 1rem;
    margin: 1rem auto;
    max-width: 800px;
    background: #bd5454;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255, 0.56);
}
