body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #5e5e5e;
}

header {
    background: #333;
    color: #cccccc;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    background: #444;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #747272;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background: #3a3a3a;
}

section {
    padding: 1rem;
    margin: 1rem auto;
    max-width: 800px;
    background: #292929;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(19, 18, 71, 0.767);
}
